html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
}

.custom-card {
  min-width: 400px;
  width: 50%;
  margin: 5% auto 0 auto;
  height: initial;
}

.height-fix {
  height: initial;
}

.cursor {
  cursor: pointer;
}

.narrow {
  width: inital;
}

#map {
  width: 100%;
  height: calc(100vh - 104px);
}

#map div {
  height: initial;
  width: initial;
}
